<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="O7DbConnection" type="Angkor.O7Framework.Data.Model.O7DbConnection, Angkor.O7Framework.Data" />
    <section name="O7WebSource" type="Angkor.O7Framework.Web.Utility.O7WebSource, Angkor.O7Framework.Web" />
    <section name="O7File" type="Angkor.O7Framework.Components.Model.O7File, Angkor.O7Framework.Components" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <O7DbConnection provider="Oracle.ManagedDataAccess" server="192.168.1.190:1521/O7DEV" />
  <O7File path="C:" name="log" extension="txt" />
</configuration>
