<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="O7Connection" type="Angkor.O7Framework.Data.Utility.O7Connection, Angkor.O7Framework.Data" />
    <section name="O7WebSource" type="Angkor.O7Framework.Web.Utility.O7WebSource, Angkor.O7Framework.Web" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <O7Connection provider="Oracle.ManagedDataAccess" server="192.168.1.35:1521/UDEP2015" />
  <O7WebSource address="192.168.1.186" port="120" source="SharedSource"/>
</configuration>